
$red: #f98ca4;
$darkred: #9e132c;
$darkblue: #2f3e9c;

body {
    letter-spacing: 0.062rem;
    background: #c2f9cb;
}

h1 {
    font-size: 20vw;
    margin: 0;
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
    color: #52d9da;
    text-shadow:
            -1px -1px 0 $darkblue,
            1px -1px 0 $darkblue,
            -1px 1px 0 $darkblue,
            1px 1px 0 $darkblue,
            1px 0px 0px $red,
            0px 1px 0px $red,
            2px 1px 0px $red,
            1px 2px 0px $red,
            3px 2px 0px $red,
            2px 3px 0px $red,
            4px 3px 0px $red,
            3px 4px 0px $red,
            5px 4px 0px $red,
            3px 5px 0px $darkblue,
            6px 5px 0px $darkblue,
            -1px 2px 0 black,
            0 3px 0 $darkblue,
            1px 4px 0 $darkblue,
            2px 5px 0px $darkblue,
            2px -1px 0 $darkblue,
            3px 0 0 $darkblue,
            4px 1px 0 $darkblue,
            5px 2px 0px $darkblue,
            6px 3px 0 $darkblue,
            7px 4px 0 $darkblue,
            10px 10px 4px rgba(#6af177, .8);
}

.splitting .char {
    --weight: 200;
    font-weight: var(--weight);
    display: inline-block;
    transition: all 250ms cubic-bezier(.64,.57,.67,1.53);
}

.transform .splitting .char {
    --transform: 1;
    transform: scale(var(--transform));
}


#page {
    --position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20vw;
}

// Toggle
$body-color: #c2f9cb;
$text-color: $darkred;

.controls {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    display: block;
    width: 100%;
    text-align: center;
}

.button {
    border: 1px solid $darkblue;
    padding: 10px;
    background: #c2f9cb;
    color: $darkblue;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    width: 190px;

    & + button {
        margin-top: 10px;
    }

    &:hover,
    &:focus {
        background: #59d9d9;
    }
}

.msg {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;

    a {
        color: $darkblue;
    }
}
